{% extends "main_django.html" %}
{% with online_help_token="oauth2_provider" %}
{% load theme_pipeline %}{% load sekizai_tags i18n configuration %}{% load url from future %}{% load staticfiles %}

{% block title %}
  {% block pagetitle %}{% endblock %} | {% trans "Authorize" %} | {% platform_name %}
{% endblock %}

{% block body %}
    <main id="main" aria-label="Content" tabindex="-1">
      <section class="container wiki {{ selected_tab }}" id="wiki-content">
        <div class="wiki-wrapper">
            {% include "oauth2_provider/_authorize.html" %}
        </div>
      </section>
    </main>
{% endblock %}

{% endwith %}
